<!doctype html>
<html ng-app="app">
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-touch.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
    
    <link rel="stylesheet" href="https://cdn.rawgit.com/esvit/ng-table/1.0.0/dist/ng-table.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">    
    <script src="https://cdn.rawgit.com/esvit/ng-table/1.0.0/dist/ng-table.js"></script>
  </head>
  <body ng-controller="ResourcesController as controller">
    <div>
      <p>
        VX Ace: <a href="#" ng-click="show('vxa', 'scripts')">Scripts</a> /
        <a href="#" ng-click="show('vxa', 'graphics')">Resources</a> ::

        MV: <a href="#" ng-click="show('mv', 'scripts')">Scripts</a> /
        <a href="#" ng-click="show('mv', 'graphics')">Resources</a> ::    
            
        View on <a href="http://github.com/ashes999/rpg-maker-resources">GitHub</a>
      </p>
    </div>

    <rpg-resources-table id="scriptsTable-vxa" />
    <rpg-resources-table id="graphicsTable-vxa"  />

    <rpg-resources-table id="scriptsTable-mv" />
    <rpg-resources-table id="graphicsTable-mv" />

    <script src="app.js"></script>    
  </body>
</html>

